@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'REM', Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
  }

/** HEADER **/
@media screen, print {

header {
    margin: 20px 0 50px 20px;
    width: 530px;
    padding: 0;
}

div#textHeader {
    float: inline-end;
    }

div#textHeader h2 {
    color: #f39232;
    font-weight: 800;
    font-size: 20pt;
    text-transform: uppercase;
}

div#textHeader h1 {
    font-weight: 300;
    font-size: 10pt;
    color: #424242;
    text-transform: uppercase;
    margin: 10px 0;
}

div#imgHeader img {
    width: 120px;
    height: 120px;
    margin-left: 20px;
}

div#textHeader p#jobPrint {
    padding: 5px 0 10px 0;
    border-bottom: #f39232 3px solid;
    font-weight: 800;
    font-size: 16pt;
    color: #424242;
    text-transform: uppercase;
}

header p#job {
    display: none;
}
}


/** INFOS **/
@media screen, print {
div#infos {
    width: 100%;
    padding: 20px;
    border-top: 2px dotted #a7a7a7;
    border-bottom: 2px dotted #a7a7a7;
    page-break-after: always;

}
div.tituloIcone {
    display: inline-block;
    width: 15%;
    vertical-align: top;
}

div.tituloIcone h1 {
    text-align: right;
    font-size: 1.0em;
    text-transform: uppercase;
    color: #f39232;
    border-right: 1px solid #424242;
    padding: 20px 10px 20px 0;
    margin: 20px 10px 20px 0;
}

div.bioIco {
    display: none;
}

div.infos {
    font-size: 12pt;
    display: inline-block;
    line-height: 1.4em;
    color: #424242;
    font-weight: 300;
    width: 70%;
    padding: 20px 10px;

}

p#contato::after {
    content: '(48) 98500-3105 / thaisi.porto@gmail.com'
}

a#linkContato {
    display: none;
}

div.infos p {
   font-size: 0.9em;
   text-align: justify;
}

div.infos p span {
    font-weight: 500;
    color: #f39232;
}

div.item {
    padding-bottom: 20px;
}

div.infos h2 {
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 2px solid #f39232;
}
}

@media screen, print {
div#skills {
    padding: 50px 0;
}

div#skills h1 {
    background-color: #f39232;
    color: #fff;
    font-size: 1.5em;
    padding: 10px 30px;
    text-transform: uppercase;
}

div.skillsRow {
    column-count: 2;
    margin: auto;
    text-align: center;
    padding: 20px;
}

div.skillsPair {
    column-count: 2;
}

div.skillTool {
    text-align: center;
    vertical-align: top;
}

div.circle {
    background-color: #f39232;
    border-radius: 50%;
    border: solid 1px #424242;
    height: 11px;
    width: 11px;
    display: inline-block;
    margin: 1px;
}
div.circleEmpty {
    background-color: #fff;
    border-radius: 50%;
    border: solid 1px #424242;
    height: 11px;
    width: 11px;
    display: inline-block;
    margin: 1px;
}

div.iconSkill img {
    width: 40px;
    text-align: center;
    padding: 5px;
}

div.iconSkill p {
    font-size: 0.7em;
    text-align: center;
    color: #424242;
    font-weight: 300;
}

div.lineGeneral {
    height: 1px;
    width: 90%;
    background-color: #f39232;
    margin: auto;
}

div.lineMobile {
    height: 1px;
    width: 90%;
    background-color: #f39232;
    margin: 20px auto;
}
}